
.back-show p {
  margin: 0px 0px 5px 25px;
  text-decoration: none;
  color: black;
}


///////////// sidecard profile

.profile-info-card-event{
  width: auto;
  height: 100%;
  min-height: 550px;
  padding: 0px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.avatar-event-show {
  border-radius: 50%;
  margin-top:15px;
}

.profile-info-card-event-info {
  position: relative;
  text-align: center;
  font-size:20px;
}

.profile-info-card-event-info2 {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
  p {
    margin: 10px 0px 10px 0px;
  }
}

.profile-info-card-event-name{
  margin-top:15px;
  font-size: 25px;
  font-weight: lighter;
}

.profile-info-card-event-email {
  font-size: 15px;
  color: #E67E22;
}

.profile-info-card-event-card-button {
  padding-top: 20px;
  text-align: center;
  font-size: 16px;
  color: white !important;
}

#message{
  color: white !important;
  font-size: 16px !important;
}
#review {
  color: white !important;
  font-size: 16px !important;
}

#text {
  color: orange;
}
//////////////////////////////// CARD-SHOW

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.card-trip h5 {
  font-size: 25px;
  font-weight: lighter;
  margin: 10px 0px 10px 0px;
}

.card-trip p {
  font-size: 16px;
  opacity: .7;
  margin-top: 10px;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}


#sweet-alert-demo {
  color: white !important;
  font-size: 25px;
  margin-bottom: 110px;
  margin-right: 50px;
}

///////////////////// MAP

.show-mp{
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip-infos h5 {
  font-size: 25px;
  font-weight: lighter;
  margin: 10px 0px 10px 0px;
} p {
  font-size: 16px;
  opacity: .7;
  margin-top: 10px;
}

#map {
  margin: 0px !important;
}

#gap_between {
  display: block; /* makes it have a width */
  content: ""; /* clears default height */
  margin-top: -10px; /* change this to whatever height you want it */

}
