.main-content {
  display: flex;
}

.cards {
  padding: 16px;
  .card-img-top {
    border-radius: 10px;
  }
}

.card {
  background-size: cover;
  background-position: center;
  border-radius: 10px !important;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  align-items: left;
}

.event-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 0.7rem;
}

// This will be ignored after because it's going to be an actual map and not an img
#map {
  padding: 16px;
  height: 100vh;
  position: sticky;
  top: 0;
  flex-grow: 1;
  width: 200%;
}
