.main-content {
  display: flex;
}

.cards {
  padding: 16px;
  width: 60%;
  .card-img-top {
    border-radius: 10px 10px 0px 0px;
    height: 200px;
  }
}

.card {
  border-radius: 10px !important;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  align-items: left;
  height: 385px;
}

.event-main-content-name {
  height: 30px !important;
}

.img-download {
  position: relative;
}

.img-download > img {
  object-fit: cover;
}

.img-download .fa-eye {
  position: absolute;
  top: 7px;
  right: 7px;
  color: beige;
}

.img-download .fa-eye {
  display: none;
}

.img-download:hover .fa-eye {
  display: block;
}

.event-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 0.7rem;
}

#map {
  margin: 16px;
  padding: 16px;
  height: 100vh;
  position: sticky;
  top: 0;
  width: 40%;
  border-radius: 10px;
}

#select-category {
  font-size: 20px;
  margin: 0 16px 0 16px !important;
}
