.main-content {
  display: flex;
}

.cards {
  padding: 16px;
  .card-img-top {
    border-radius: 10px;
  }
}

.card {
  background-size: cover;
  background-position: center;
  border-radius: 10px !important;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  align-items: left;
  height: 320px;
}

.img-download {
  position: relative;
}

.img-download .fa-eye {
  position: absolute;
  top: 7px;
  right: 7px;
  color: beige;
}

.img-download .fa-eye {
  display: none;
}

.img-download:hover .fa-eye {
  display: block;
}

.event-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 0.7rem;
  // margin: auto;
}


#map {
  padding: 16px;
  height: 100vh;
  position: sticky;
  top: 0;
  flex-grow: 1;
  width: 200%;
}

.fa-user-alt, .fa-map-marker-alt, .card-subtitle, .card-body-home-page {
  color: #FD7E13;
}

.card-home-page {
  a:hover {
    text-decoration: none;
  }
}

.card-body-home-page .centered {
  transition: transform .2s;
  &:hover {
    color: black;
  }
}

.location .participants {
  padding: 5px;
}

.location-event {
  margin: 0;
  line-height: 2.3;
  color: #6c757d;
}

.event-main-content-name {
  height:55px;
}

.carousel-item a {
  text-decoration: none;
  color: inherit;
}

.card-event {
   background-color: white;

   .event-name {
     text-align: left;
     font-weight: bold;
   }

   .row {
     margin: 0;
   }

   .fa-map-marker-alt {
     margin: 8px;
     margin-left: 0;
   }
}

.carousel-control {
  margin: 0 -25px;
}

// .container {
//   display: flex;
// }

// .tag-item {
//   display: inline-block;
// }

// .tag-selector {
//   position: absolute;
//   transform: scale(0);
// }

// .tag-selector + label {
//   display: inline-block;
//   cursor: pointer;
//   min-width: max-content;
//   padding: 8px 10px;
//   border-radius: 5px;
//   border: 5px solid transparent;
//   background-color: red;
//   margin-right: 10px;
//   margin-top: 10px;
// }

// .tag-selector:checked + label {
//   background-color: #7E73FF;
// }
