<%# Testing %>
<%#
<div class="container">
  <div class="calendar">
    <div class="month">
      <i class="fas fa-angle-left prev"></i>
      <div class="date">
        <h1></h1>
        <p></p>
      </div>
      <i class="fas fa-angle-right next"></i>
    </div>
    <div class="weekdays">
      <div>Sun</div>
      <div>Mon</div>
      <div>Tue</div>
      <div>Wed</div>
      <div>Thu</div>
      <div>Fri</div>
      <div>Sat</div>
    </div>
    <div class="days">
    </div>
  </div>
</div> %>


<div class="banner">
<div class="main-container">
    <h1>iBuddy.find</h1>
    H<span class="typed-js"></span>
  </div>

  <div class="container h-100">
    <div class="d-flex justify-content-center h-100">
      <div class="searchbar">
        <%= text_field_tag :query,
          params[:query],
          class: "search_input",
          placeholder: "Search for an event..."
        %>
        <%= button_tag type: 'submit', class:"search_icon" do %>
          <i class="fas fa-search"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
