<div class="banner">
<div class="main-container">
    <h1>iBuddy.find</h1>
    H<span class="typed-js"></span>
  </div>

  <div class="container h-100">
    <div class="d-flex justify-content-center h-100">
      <div class="searchbar">
        <%= text_field_tag :query,
          params[:query],
          class: "search_input",
          placeholder: "Search for an event..."
        %>
        <%= button_tag type: 'submit', class:"search_icon" do %>
          <i class="fas fa-search"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
