.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

// Modal

.modal-content {
  border-radius: 15px !important;
  font-family: "Nunito" !important;
}

.modal-header {
  font-family: 'Nunito' !important;
}

// Buttons of the Modal

.btn {
  color: rgba(0,0,0,0.5) !important;
  font-family: "Nunito " !important;
  border-radius: 4px !important;
}

.btn-outline-dark {
  &:hover{
    color: white !important;
  }
}

.btn-outline-success {
  border-color: #FD7E13 !important;
  &:hover{
    background-color: #FD7E13;
    color: white !important;
  }
}

.btn-outline-light {
  border: none !important;
  margin-top: 2px !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  text-align: left !important;
  &:hover {
    background: none;
    color: rgba(0, 0, 0, 0.7) !important;
  }
}
